include ../helpers/_images-url
include ../helpers/_menu-main

head

    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block title
        title #{pageTitle} - setRobot

    meta(name='Description', content='')

    meta(name='Keywords', content='')

    meta(property='og:title', content='')
    meta(property='og:url', content='')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='')

    link(rel='canonical', href='')

    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css')

    link(rel='stylesheet', href='assets/css/vendor.css')
    link(rel='stylesheet', href='assets/css/main.css')
