include ../helpers/_images-url
include ../helpers/_menu-main

head

  meta(charset='utf-8')

  title setRobot Front

  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')

  link(href='//fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css')

  link(rel='stylesheet', href='/assets/css/vendor.css')
  link(rel='stylesheet', href='/assets/css/main.css')
