$visual-grid: false !default;
$visual-grid-color: #eee !default;
$visual-grid-index: front !default;
$visual-grid-opacity: 0.4 !default;

@import 'core/reset';

@import 'bourbon';
@import 'base/base';
@import 'setting-grid';
@import 'neat';
@import 'breakpoints';
@import 'family';

@import 'variables';

@import 'helper/align';
@import 'helper/image';
@import 'helper/grid';
@import 'helper/common';
@import 'helper/select';

@import 'core/grid';

@import 'modules/geral';
@import 'modules/header';
@import 'modules/navigation';
@import 'modules/footer';
