doctype html
html.no-js(lang='pt-BR')
    block vars

    include ../partials/_head
    include ../helpers/_bemto/bemto

        body(class=bodyClass)

            <!--[if IE 8]>
              p.browserupgrade
                | Você está usando um navegador <strong>ultrapassada</strong>.
                a(href='http://browsehappy.com/')
                  | Atualize o seu navegador para melhorar a sua experiência.
            <![endif]-->

            main

                include ../partials/_header

                block content

                include ../partials/_footer

                script(src='//code.jquery.com/jquery-3.1.1.js')

                script(src='assets/js/vendor.js')
                script(src='assets/js/main.js')

                script.
                    WebFontConfig = {
                        google: { families: [ 'Lato:400,700' ] }
                    };
                    (function() {
                        var wf = document.createElement('script');
                        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                        wf.type = 'text/javascript';
                        wf.async = 'true';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(wf, s);
                    })();

                block script-page
