doctype html
html.no-js(lang='pt-BR')

  include ../partials/_head
  include ../helpers/bemto/bemto

  body

    <!--[if IE 8]>
      p.browserupgrade
        | Você está usando um navegador strong ultrapassada.
        a(href='http://browsehappy.com/')
          | Atualize o seu navegador para melhorar a sua experiência.
    <![endif]-->

    main

      include ../partials/_header

      block content

      include ../partials/_footer

      script(src='//code.jquery.com/jquery-3.1.0.js', integrity='sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=', crossorigin='anonymous')

      script(src='/assets/scripts/vendor.js')
      script(src='/assets/scripts/main.js')

      block scritp-page
