doctype html
html.no-js(lang='pt-BR')

  include ../partials/_head
  include ../helpers/bemto/bemto

  body

    <!--[if IE 8]>
      p.browserupgrade
        | Você está usando um navegador <strong>ultrapassada</strong>.
        a(href='http://browsehappy.com/')
          | Atualize o seu navegador para melhorar a sua experiência.
    <![endif]-->

    main

      include ../partials/_header

      block content

      include ../partials/_footer

      script(src='//code.jquery.com/jquery-3.1.1.js', integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=', crossorigin='anonymous')

      script(src='/assets/scripts/vendor.js')
      script(src='/assets/scripts/main.js')

      block script-page
